:root {
  --card-set-gap: 30px;
  --card-set-gap-two: 50px;
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --accent-color-btn: rgba(24, 140, 232, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-back-color: rgba(47, 48, 58, 1);
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --background-color: rgba(245, 244, 250, 1);
  --background-color-social: rgba(255, 255, 255, 0.1);
  --btn-color: rgba(245, 244, 250, 1);
  --btn-color-shadow: rgba(0, 0, 0, 0.15);
  --border-color: rgba(238, 238, 238, 1);
  --icon-color: rgba(175, 177, 184, 1);
  --modal: rgba(0, 0, 0, 0.2);
  --background-modal-icon: rgba(0, 0, 0, 0.1);
  --background-work: rgba(47, 48, 58, 0.8);
  --background-portfolio-overlay: rgba(33, 150, 243, 0.9);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
}

.contact-nav__item:nth-child(2) {
  margin-left: 50px;
}

.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--accent-color);
}

.contact-nav__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link:hover .contact-nav__icon,
.contact-nav__link:focus .contact-nav__icon {
  fill: var(--accent-color);
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--btn-color-shadow);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color-btn);
}

.suptitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.social-list__link--dark {
  fill: var(--primary-white-color);
  background-color: var(--background-color-social);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid var(--background-modal-icon);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal__text-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
}

.modal__form-field {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__wrapper-input {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__user-message {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__user-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__user-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-term-desc {
  color: var(--secondary-text-color);
}

.modal__form-checkbox {
  text-align: center;
}

.modal__check-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 3px solid var(--primary-text-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-term:focus + .modal__form-term-desc .modal__check-wrap {
  border-color: var(--accent-color);
}

.modal__form-term:checked + .modal__form-term-desc .modal__check-wrap {
  background-color: var(--accent-color);
  border: none;
}

.modal__check-icon {
  fill: transparent;
  display: block;
  width: 16px;
  height: 16px;
}

.modal__form-term:checked + .modal__form-term-desc .modal__check-icon {
  fill: var(--primary-white-color);
}

.modal__link {
  color: var(--accent-color);
}

.modal__form-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-btn:hover, .modal__form-btn:focus {
  background-color: var(--accent-color-btn);
}

.header__border {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
}

.header__navigation {
  display: flex;
}

.header__site-nav {
  display: flex;
  align-items: center;
}

.header__contact-nav {
  display: flex;
  margin-left: auto;
}

.hero__content {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
}

.hero__title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.feature__item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
}

.feature__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-color);
  border-radius: 4px;
}

.feature__title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature__text {
  margin: 0;
  color: var(--secondary-text-color);
}

.work__content {
  padding-top: 0;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.work__item {
  position: relative;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.work__text {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--background-work);
  font-weight: 700;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.command__content {
  background-color: var(--background-color);
}

.command__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.command__item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.command__card {
  padding: 30px 32px;
}

.command__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command__specialty {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.clients__content {
  padding-top: 100px;
  padding-bottom: 88px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap-two));
}

.clients__item {
  display: flex;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap-two);
  flex-basis: calc(100% / 6 - var(--card-set-gap));
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.portfolio-content {
  padding-top: 118px;
  padding-bottom: 70px;
}

.portfolio__filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn-filtr {
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--btn-color);
  box-shadow: none;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn-filtr:hover, .portfolio__btn-filtr:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio__item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: block;
}

.portfolio__link:focus, .portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  background-color: var(--background-portfolio-overlay);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__description,
.portfolio__link:focus .portfolio__description {
  transform: translateY(0);
}

.portfolio__thumb {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.footer__page {
  background-color: var(--secondary-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__left-side {
  display: flex;
  justify-content: space-between;
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.footer__thumb {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.footer__social-links {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__location {
  display: block;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-style: normal;
}

.address-list__link {
  display: block;
  color: var(--secondary-white-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.footer-right-side {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.footer__text {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer__subscribe-form {
  display: flex;
}

.footer__form-label {
  flex-grow: 1;
  margin-right: 12px;
}

.footer__subscribe-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-input::placeholder {
  color: var(--secondary-white-color);
}

.footer__subscribe-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.button-subscribe {
  display: flex;
  width: auto;
  padding: 10px 28px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover, .button-subscribe:focus {
  box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color-btn);
}

.button-subcribe__icon {
  margin-left: 10px;
  vertical-align: middle;
  fill: var(--primary-white-color);
}
/*# sourceMappingURL=main.css.map */