.clients__content {
  padding-top: 100px;
  padding-bottom: 88px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap-two));
}

.clients__item {
  display: flex;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap-two);
  flex-basis: calc(100% / 6 - var(--card-set-gap));
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
