.footer__page {
  background-color: var(--secondary-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__left-side {
  display: flex;
  justify-content: space-between;

  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.footer__thumb {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.footer__social-links {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.address-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list__location {
  display: block;
  margin-bottom: 9px;

  color: var(--primary-white-color);
  font-style: normal;
}

.address-list__link {
  display: block;
  color: var(--secondary-white-color);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-right-side {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
}

.footer__text {
  margin-bottom: 20px;

  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer__subscribe-form {
  display: flex;
}

.footer__form-label {
  flex-grow: 1;
  margin-right: 12px;
}

.footer__subscribe-input {
  width: 100%;
  height: 50px;

  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: inherit;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: var(--secondary-white-color);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.button-subscribe {
  display: flex;
  width: auto;
  padding: 10px 28px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color-btn);
  }
}

.button-subcribe__icon {
  margin-left: 10px;
  vertical-align: middle;

  fill: var(--primary-white-color);
}
