.header__border {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--primary-text-color);
}

.header__navigation {
  display: flex;
}

.header__site-nav {
  display: flex;
  align-items: center;
}

.header__contact-nav {
  display: flex;
  margin-left: auto;
}
