.portfolio-content {
  padding-top: 118px;
  padding-bottom: 70px;
}

.portfolio__filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio__btn-filtr {
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px 22px;

  color: var(--primary-text-color);
  background-color: var(--btn-color);
  box-shadow: none;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio__item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: block;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;

  background-color: var(--background-portfolio-overlay);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.portfolio__thumb {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}

.portfolio__title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
