.modal__text-title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
}

.modal__form-field {
  display: block;

  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__wrapper-input {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__user-message {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__form-term-desc {
  color: var(--secondary-text-color);
}

.modal__form-checkbox {
  text-align: center;
}

.modal__check-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 3px solid var(--primary-text-color);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__form-term:focus + .modal__form-term-desc & {
    border-color: var(--accent-color);
  }

  .modal__form-term:checked + .modal__form-term-desc & {
    background-color: var(--accent-color);
    border: none;
  }
}

.modal__check-icon {
  fill: transparent;
  display: block;
  width: 16px;
  height: 16px;

  .modal__form-term:checked + .modal__form-term-desc & {
    fill: var(--primary-white-color);
  }
}

.modal__link {
  color: var(--accent-color);
}

.modal__form-btn {
  display: block;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color-btn);
  }
}
