.social-list {
  display: flex;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--primary-white-color);
  }
}

.social-list__link--dark {
  fill: var(--primary-white-color);
  background-color: var(--background-color-social);
}
